# Screenshots / maquettes
Capture*
IMG_*

# Images - ignore PNGs sauf favicons
*.png
!assets/img/favicon-32.png
!assets/img/apple-touch-icon.png

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
